<f:asset.script identifier="translator-export-row">
	<f:format.raw>
		const sourceTemp = document.getElementById('source-temp');
		const source = document.getElementById('source');
		const targetTemp = document.getElementById('target-temp');
		const target = document.getElementById('target');

		sourceTemp.addEventListener('change', function(e) {
		const value = this.value;
		if (value != '') {
		source.value = value;
		this.value = '';
		}
		});
		targetTemp.addEventListener('change', function(e) {
		const value = this.value;
		if (value != '') {
		target.value = value;
		this.value = '';
		}
		});
	</f:format.raw>
</f:asset.script>
<div>
	<h1>{f:translate(key: 'exportDatabase.headline')}</h1>
	<div>
		<f:form action="databaseExport">
			<div class="row row-cols-auto align-items-end g-3">
				<div class="col">
					<label for="source" class="form-label">Source language</label>
					<div class="input-group">
						<f:form.textfield name="source-language" class="form-control" id="source" value="en" />
						<f:form.select name="source-temp" class="form-select hd-form-select btn-light" id="source-temp">
							<f:form.select.option value=""></f:form.select.option>
							<f:for each="{languages}" as="language" key="key">
								<f:form.select.option value="{key}">{language}</f:form.select.option>
							</f:for>
						</f:form.select>
					</div>
				</div>
				<div class="col">
					<label for="target" class="form-label">Target language</label>
					<div class="input-group">
						<f:form.textfield name="language" class="form-control" id="target" value="en" />
						<f:form.select name="target-temp" class="form-select hd-form-select btn-light" id="target-temp">
							<f:form.select.option value=""></f:form.select.option>
							<f:for each="{languages}" as="language" key="key">
								<f:form.select.option value="{key}">{language}</f:form.select.option>
							</f:for>
						</f:form.select>
					</div>
				</div>
			</div>

			<div class="row row-cols-auto align-items-end g-3 mt-3">
				<div class="col">
					<label for="storages" class="form-label">Page UID (can be comma separated list)</label>
					<div class="input-group">
						<f:form.textfield id="storages" name="storages" value="{currentPage}" required="1" class="form-control" />
					</div>
				</div>
				<div class="col">
					<label for="subpages-checkbox" class="form-label">Add also subpages</label>
					<div class="input-group">
						<div class="form-wizards-element">
							<div class="form-check form-check-type-icon-toggle">
								<f:form.checkbox name="subpages" class="form-check-input" id="subpages-checkbox" value="1" />

								<label class="form-check-label" for="subpages-checkbox">
											<span class="form-check-label-icon">
													<span class="form-check-label-icon-checked"><span class="t3js-icon icon icon-size-small icon-state-default icon-actions-check" data-identifier="actions-check">
		<span class="icon-markup">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><g class="icon-color"><path d="M13.3 4.8l-.7-.7c-.2-.2-.5-.2-.7 0L6.5 9.5 4 6.9c-.2-.2-.5-.2-.7 0l-.6.7c-.2.2-.2.5 0 .7l3.6 3.6c.2.2.5.2.7 0l6.4-6.4c.1-.2.1-.5-.1-.7z"></path></g></svg>
		</span>

	</span></span>
													<span class="form-check-label-icon-unchecked"><span class="t3js-icon icon icon-size-small icon-state-default icon-empty-empty" data-identifier="empty-empty">
		<span class="icon-markup">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"></svg>
		</span>

	</span></span>
											</span>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row row-cols-auto align-items-end g-3 mt-3">
				<div class="col">
					<label for="subpages-checkbox" class="form-label">Ignore export fields limitation ('translator_export')</label>
					<div class="input-group">
						<div class="form-wizards-element">
							<div class="form-check form-check-type-icon-toggle">
								<f:form.checkbox name="ignoreExport" class="form-check-input" id="ignore-export-checkbox" value="1" />

								<label class="form-check-label" for="ignore-export-checkbox">
													<span class="form-check-label-icon">
															<span class="form-check-label-icon-checked"><span class="t3js-icon icon icon-size-small icon-state-default icon-actions-check" data-identifier="actions-check">
				<span class="icon-markup">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><g class="icon-color"><path d="M13.3 4.8l-.7-.7c-.2-.2-.5-.2-.7 0L6.5 9.5 4 6.9c-.2-.2-.5-.2-.7 0l-.6.7c-.2.2-.2.5 0 .7l3.6 3.6c.2.2.5.2.7 0l6.4-6.4c.1-.2.1-.5-.1-.7z"></path></g></svg>
				</span>

			</span></span>
															<span class="form-check-label-icon-unchecked"><span class="t3js-icon icon icon-size-small icon-state-default icon-empty-empty" data-identifier="empty-empty">
				<span class="icon-markup">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"></svg>
				</span>

			</span></span>
													</span>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row row-cols-auto align-items-end g-3 mt-3">
				<div class="col">
					<label for="tables" class="form-label">{f:translate(key: 'exportDatabase.chooseTablesForExport')}</label>
					<div class="input-group">
						<f:form.select multiple="1" name="tables" id="tables" class="form-select" required="1">
							<f:if condition="{tables}">
								<f:for each="{tables}" as="table">
									<f:if condition="{table.tableTitle}">
										<f:form.select.option value="{table.tableName}">
											<f:translate key="{table.tableTitle}" default="{table.tableName}" />
											[{table.tableName}]
										</f:form.select.option>
									</f:if>
								</f:for>
							</f:if>
						</f:form.select>
					</div>
				</div>
			</div>


			<div  class="mt-3">
				<button class="btn btn-default">
					<span class="t3js-icon icon icon-size-small icon-state-default icon-apps-filetree-folder-default" data-identifier="actions-extension">
					<span class="icon-markup">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 16 16"><g fill="currentColor"><path d="M13.408 3.546 7.913 1.087a1.002 1.002 0 0 0-.817 0L1.592 3.545c-.36.161-.592.519-.592.914v7.102a1 1 0 0 0 .594.914l5.496 2.439a1.003 1.003 0 0 0 .812 0l5.504-2.446a1 1 0 0 0 .594-.914V4.459a1 1 0 0 0-.592-.913zM7.504 2l4.89 2.187L7.5 6.449 2.607 4.188 7.504 2zM2 5.01l5 2.31v6.46l-5-2.219V5.01zm6 8.766V7.32l5-2.31v6.545l-5 2.221z"/></g></svg>
					</span>
					</span>
					Export
				</button>
			</div>
		</f:form>
	</div>
</div>
