<div class="hd-translator">
	<h1>{f:translate(key: 'exportDatabase.headline')}</h1>
	<div>
		<f:form action="databaseExport">
			<div>
				<label>{f:translate(key: 'exportDatabase.chooseTablesForExport')}</label>
				<f:form.select multiple="1" name="tables" class="hd-translator-long_select" required="1">
					<f:if condition="{tables}">
						<f:for each="{tables}" as="table">
							<f:if condition="{table.tableTitle}">
								<f:form.select.option value="{table.tableName}">
									<f:translate key="{table.tableTitle}" default="{table.tableName}" />
									[{table.tableName}]
								</f:form.select.option>
							</f:if>
						</f:for>
					</f:if>
				</f:form.select>
			</div>
			<div>
				<f:form.submit value="{f:translate(key: 'exportDatabase.exportButton')}" />
			</div>
		</f:form>
	</div>
</div>
