<html
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
	data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="headline">
</f:section>

<f:section name="content">
	<div class="hd-translator">
		<div>UPDATED: {actions.updated}</div>
		<div>INSERTED: {actions.inserted}</div>
		<div>FAILS: {actions.fails}</div>
		<f:if condition="{actions.failsMessages}">
			<div>
				<f:for each="{actions.failsMessages}" as="message">
					<div>
						{message}
					</div>
				</f:for>
			</div>
		</f:if>
	</div>
</f:section>
</html>
