<html
		xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
		xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
		xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
		data-namespace-typo3-fluid="true">
<f:layout name="Module" />

<f:section name="Content">
<f:asset.script identifier="hd_translator_database_import" src="EXT:hd_translator/Resources/Public/JavaScript/DatabaseImportIndex.js" />

<div class="hd-translator">
	<f:render partial="Module/Header" arguments="{
		title: '{f:translate(key: \'databaseImport.index.importHeadline\')}',
		pageData: pageData
	}" />

	<f:form action="databaseImport" enctype="multipart/form-data" id="translator-import">
		<f:if condition="{pageUid}"><f:form.hidden name="id" value="{pageUid}" /></f:if>

		<div class="hd-translator-fieldset">
			<div class="hd-translator-form-grid">
				<div class="col-12 col-md-5">
					<label class="form-label" for="files"><f:translate key="form.files" /></label>
					<div>
						<button type="button" id="translator-fileupload-button" class="btn btn-default">
							<core:icon identifier="actions-upload" size="small" />
							<f:translate key="form.selectFiles" />
						</button>
						<div class="d-none">
							<f:form.upload name="files" id="files" multiple="1" additionalAttributes="{accept: importAccept}" />
						</div>
					</div>
					<div class="form-text"><f:translate key="form.files.description" /></div>
					<div id="translator-fileupload-preview" class="hd-translator-filelist"></div>
				</div>

				<div class="col-12 col-md-3">
					<label class="form-label" for="language-uid"><f:translate key="form.targetSystemLanguage" /></label>
					<f:form.select name="targetLanguageUid" id="language-uid" class="form-select" value="1">
						<f:for each="{allowedLanguages}" as="lang">
							<f:form.select.option value="{lang.uid}">{lang.title}</f:form.select.option>
						</f:for>
					</f:form.select>
				</div>

				<div class="col-12 col-md-3">
					<label class="form-label" for="language-source"><f:translate key="form.translationSource" /></label>
					<f:form.select name="translationSource" class="form-select" id="language-source">
						<f:form.select.option value="target" selected="1">target</f:form.select.option>
						<f:form.select.option value="source">source</f:form.select.option>
					</f:form.select>
					<div class="form-text"><f:translate key="form.translationSource.description" /></div>
				</div>

				<div class="col-12">
					<div class="form-check">
						<f:form.checkbox name="skipFailedEntries" value="1" class="form-check-input" id="skipFailedEntries" />
						<label class="form-check-label" for="skipFailedEntries"><f:translate key="form.skipFailedEntries" /></label>
						<div class="form-text"><f:translate key="form.skipFailedEntries.description" /></div>
					</div>
				</div>
			</div>
		</div>

		<button class="btn btn-primary">
			<core:icon identifier="actions-extension-import" size="small" />
			<f:translate key="form.import" />
		</button>
	</f:form>
</div>
</f:section>
</html>
