<html
		xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
		xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
		xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
		data-namespace-typo3-fluid="true">
<f:layout name="Module" />

<f:section name="Content">
<div class="hd-translator">
	<f:render partial="Module/Header" arguments="{
		title: '{f:translate(key: \'deepl.originalSources.headline\')}',
		description: '{f:translate(key: \'deepl.originalSources.description\')}'
	}" />

	<f:if condition="{sources}">
		<f:then>
			<div class="table-fit">
				<table class="table table-striped table-hover">
					<thead>
						<tr><th><f:translate key="deepl.original.subheadline" /></th></tr>
					</thead>
					<tbody>
						<f:for each="{sources}" as="string">
							<tr>
								<td dir="auto">
									<f:link.action action="deeplShowTranslationsOfOriginal" arguments="{string: string.uid}">{string.original_source}</f:link.action>
								</td>
							</tr>
						</f:for>
					</tbody>
				</table>
			</div>
		</f:then>
		<f:else>
			<f:render partial="Module/Callout" arguments="{
				state: 'info',
				message: '{f:translate(key: \'deepl.original.noTranslationsFound\')}'
			}" />
		</f:else>
	</f:if>
</div>
</f:section>
</html>
