<html
		xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
		xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
		xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
		data-namespace-typo3-fluid="true">
<f:layout name="Module" />

<f:section name="Content">
<div class="hd-translator">
	<f:if condition="{apiKey}">
		<f:then>
			<f:render partial="Module/Header" arguments="{
				title: '{f:translate(key: \'deepl.index.headline\')}',
				description: '{f:translate(key: \'deepl.index.description\')}'
			}" />

			<f:if condition="{languages}">
				<f:then>
					<div class="hd-translator-toolbar">
						<div class="hd-translator-toolbar-actions">
							<f:link.action action="deeplSyncLanguages" class="btn btn-default">
								<core:icon identifier="actions-synchronize" size="small" />
								<f:translate key="deepl.syncLanguages" />
							</f:link.action>
							<f:link.action action="deeplOriginalSources" class="btn btn-default">
								<core:icon identifier="actions-search" size="small" />
								<f:translate key="deepl.searchBySource" />
							</f:link.action>
						</div>
					</div>

					<div class="table-fit">
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th><f:translate key="deepl.index.table.languages" /></th>
									<th><f:translate key="deepl.index.table.translation_count" /></th>
									<th class="col-control"></th>
								</tr>
							</thead>
							<tbody>
								<f:for each="{languages}" as="language">
									<tr>
										<td class="hd-translator-nowrap">
											<f:link.action action="deeplTranslationLanguage" arguments="{language: language.language}">
												<strong>{language.name}</strong> <span class="hd-translator-source-cell">[{language.language}]</span>
											</f:link.action>
										</td>
										<td>{language.translations_count}</td>
										<td class="col-control">
											<div class="btn-group" role="group">
												<f:link.action action="deeplTranslationLanguage" class="btn btn-default btn-sm"
												               arguments="{language: language.language}"
												               title="{f:translate(key: 'deepl.index.table.translation_count')}">
													<core:icon identifier="actions-view-page" size="small" />
												</f:link.action>
												<be:link.editRecord uid="{language.uid}" class="btn btn-default btn-sm"
												                    returnUrl="{currentUri}" table="tx_hdtranslator_ai_languages">
													<core:icon identifier="actions-open" size="small" />
												</be:link.editRecord>
											</div>
										</td>
									</tr>
								</f:for>
							</tbody>
						</table>
					</div>
				</f:then>
				<f:else>
					<f:render partial="Module/Callout" arguments="{
						state: 'info',
						title: '{f:translate(key: \'deepl.index.noAvailableLanguages\')}',
						message: '{f:translate(key: \'deepl.index.noAvailableLanguages.description\')}'
					}" />
					<p>
						<f:link.action action="deeplSyncLanguages" class="btn btn-primary">
							<core:icon identifier="actions-synchronize" size="small" />
							<f:translate key="deepl.syncLanguages" />
						</f:link.action>
					</p>
				</f:else>
			</f:if>
		</f:then>
		<f:else>
			<f:render partial="Module/Header" arguments="{
				title: '{f:translate(key: \'deepl.missingKey.headline\')}'
			}" />
			<f:render partial="Module/Callout" arguments="{
				state: 'warning',
				icon: 'actions-exclamation-triangle',
				message: '{f:translate(key: \'deepl.missingKey.description\')}'
			}" />
			<p>
				<f:be.link route="tools_toolssettings" class="btn btn-primary">
					<core:icon identifier="actions-arrow-right" size="small" />
					<f:translate key="index.missingStorage.goToSettings" />
				</f:be.link>
			</p>
		</f:else>
	</f:if>
</div>
</f:section>
</html>
