<html
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
	xmlns:translator="http://typo3.org/ns/Hyperdigital/HdTranslator/ViewHelpers"
	data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="headline">
</f:section>

<f:section name="content">
	<f:if condition="{sources}">
		<f:else>
			<h1><f:translate key="LLL:EXT:hd_translator/Resources/Private/Language/locallang.xlf:deepl.originalSources.headline" /></h1>
		</f:else>
		<f:then>
			<h1><f:translate key="LLL:EXT:hd_translator/Resources/Private/Language/locallang.xlf:deepl.originalSources.headline" /></h1>
			<table class="table table-hover">
				{f:variable(name: 'currentUri', value: '')}
				<tbody>
				<f:for each="{sources}" as="string">
					<tr>
						<td>
							<f:link.action action="deeplShowTranslationsOfOriginal" arguments="{string: string.uid}">{string.original_source}</f:link.action>
						</td>
					</tr>
				</f:for>
				</tbody>
			</table>
		</f:then>
	</f:if>
</f:section>
</html>
