<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
        xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
        data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="headline">
</f:section>

<f:section name="content">
    <div class="hd-translator">
        <f:if condition="{is_empty}">
            <f:then>
                This language is not set
            </f:then>
            <f:else>
                <f:if condition="{data}">
                    <div class="toolbar-section">
                        <div class="search-section">
                            <div class="search-wrap">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                                </svg>
                                <input type="search" name="search" id="hd_translator-search" placeholder="{f:translate(key: 'detail.search')}" />
                            </div>
                        </div>
                        <div class="toolbar-button-section">
                            <div class="popup-action">
                                <button>
                                    <f:link.action action="remove" arguments="{keyTranslation: translationKey, languageTranslation: langaugeKey}">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                        </svg>
                                        <f:translate key="detail.remove" />
                                    </f:link.action>
                                </button>
                            </div>
                            <div class="popup-action">
                                <button>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12" />
                                    </svg>
                                    <f:translate key="detail.import" />
                                </button>
                                <div class="popup-content hidden download-links">
                                    <f:form action="import" enctype="multipart/form-data" arguments="{keyTranslation: translationKey, languageTranslation: langaugeKey}" method="post">
                                        TODO: Allowed: xlf, xls, csv, json
                                        <f:form.upload name="file" />
                                        <f:form.submit value="TODO: upload" />
                                    </f:form>
                                </div>
                            </div>
                            <div class="popup-action">
                                <button>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
                                    </svg>
                                    <f:translate key="detail.download" />
                                </button>
                                <div class="popup-content hidden download-links">
                                    <div>
                                        <f:link.action absolute="1" class="download-link" action="download" arguments="{keyTranslation: translationKey, languageTranslation: langaugeKey, format: 'xlf'}">XLF</f:link.action>
                                    </div>
                                    <div>
                                        <f:link.action absolute="1" class="download-link" action="download" arguments="{keyTranslation: translationKey, languageTranslation: langaugeKey, format: 'xls'}">XLS</f:link.action>
                                    </div>
                                    <div>
                                        <f:link.action absolute="1" class="download-link" action="download" arguments="{keyTranslation: translationKey, languageTranslation: langaugeKey, format: 'csv'}">CSV</f:link.action>
                                    </div>
                                    <div>
                                        <f:link.action absolute="1" class="download-link" action="download" arguments="{keyTranslation: translationKey, languageTranslation: langaugeKey, format: 'json'}">JSON</f:link.action>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <f:if condition="{pageData}">
                        <h2>Translate for page <b>{pageData.title}</b> and subpages</h2>
                    </f:if>
                    <f:form action="save" id="translation-form" objectName="data" arguments="{keyTranslation: translationKey, languageTranslation: langaugeKey}" method="post" name="data">
											<f:if condition="{isCategorized}">
												<f:then>
													<div class="hd-translator-detail-grid">
														<f:render section="Categorized" arguments="{_all}" />
													</div>
												</f:then>
												<f:else>
													<f:render section="NotCategorized" arguments="{_all}" />
												</f:else>
											</f:if>
                    </f:form>
                </f:if>
            </f:else>
        </f:if>
    </div>
    <script>
        let save = document.querySelector('a[data-action=save]')
        if (save){
            save.addEventListener('click', (event) => {
                document.getElementById('translation-form').submit();
            })
        }

        let popups = document.querySelectorAll('.popup-action');
        if (popups){
            popups.forEach(function(element){
                element.querySelector('button').addEventListener('click', (event) => {
                    let content = element.querySelector('.popup-content');
                    if (content.classList.contains('hidden')) {
                        content.classList.remove('hidden')
                    } else {
                        content.classList.add('hidden');
                    }
                })
            })
        }

        let search = document.querySelector('#hd_translator-search');
        let dataItems = document.querySelectorAll('.hd-translator-detail-grid-item')

        const searchAction = (event) => {
            let searchStrings = search.value.toLowerCase().trim().split(' ');
            if (search.value.length > 2 && searchStrings.length > 0) {
                dataItems.forEach((item) => {
                    let allFound = true;
                    let dataSearchString = item.getAttribute('data-search');

                    searchStrings.forEach((subsearch) => {
                        let subsearchCleanString = subsearch.trim();

                        if (subsearchCleanString.length > 1) {
                            if (!dataSearchString.includes(subsearchCleanString)) {
                                allFound = false;
                            }
                        }
                    })

                    if (!allFound) {
                        if (!item.classList.contains('hidden')) {
                            item.classList.add('hidden');
                        }
                    } else {
                        if (item.classList.contains('hidden')) {
                            item.classList.remove('hidden')
                        }
                    }
                })
            } else {
                dataItems.forEach((item) => {
                    if (item.classList.contains('hidden')) {
                        item.classList.remove('hidden')
                    }
                })
            }
        }

        if (search && dataItems) {
            search.addEventListener('keyup', searchAction );
            search.addEventListener('change', searchAction );
        }
    </script>
</f:section>

<f:section name="Categorized">
	<f:if condition="!{level}"><f:variable name="level" value="0" /></f:if>

	<f:if condition="{data} && {data.fullKey}">
		<f:then>
			<f:debug>{_all}</f:debug>
		</f:then>
		<f:else>
			<f:for each="{data}" as="subdata" key="key">
				<f:if condition="{subdata.fullKey}">
					<f:then>
						<f:render section="Item" arguments="{
				key: subdata.fullKey,
				langaugeKey: langaugeKey,
				originalSource: subdata.value.0.source,
				target: subdata.value.0.target
			}" />
					</f:then>
					<f:else>
						<f:variable name="movement" value="{level * 15}" />
						<f:variable name="level" value="{level + 1}" />

						</div>
						<div class="hd-translator-detail-categorytitle" style="padding-left: {movement}px;">{key}</div>
						<div style="padding-left: {movement}px;" class="hd-translator-detail-grid">

						<f:render section="Categorized" arguments="{
							data: subdata,
							langaugeKey: langaugeKey,
							level: level
						}" />
					</f:else>
				</f:if>
			</f:for>
		</f:else>
	</f:if>
</f:section>

<f:section name="NotCategorized">
	<div class="hd-translator-detail-grid">
		<f:for each="{data.{langaugeKey}}" key="key" as="value">
			<f:render section="Item" arguments="{
				key: key,
				langaugeKey: langaugeKey,
				originalSource: value.0.source,
				target: value.0.target
			}" />
		</f:for>
	</div>
</f:section>

<f:section name="Item">
	<div class="hd-translator-detail-grid-item" data-search="{key -> f:format.case(mode: 'lower')} {target -> f:format.case(mode: 'lower')} {originalSource -> f:format.case(mode: 'lower')}">
		<div class="hd-translator-key">{key}</div>
		<div class="hd-translator-field"><f:form.textfield name="data[{key}][{langaugeKey}]" type="text" placeholder="{key}" value="{target}" /></div>
		<div class="hd-translator-original">{originalSource}</div>
		<f:if condition="{langaugeKey} != 'default'">
			<div style="display: none">
				<f:form.hidden name="data[{key}][default]" value="{originalSource}" />
			</div>
		</f:if>
	</div>
</f:section>
</html>
