<html
		xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
		xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
		xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
		data-namespace-typo3-fluid="true">
<f:layout name="Module" />

<f:section name="Content">
<f:asset.script identifier="hd_translator_language_quickselect" src="EXT:hd_translator/Resources/Public/JavaScript/LanguageQuickSelect.js" />

<div class="hd-translator">
	<f:variable name="rowSubtitle">{tablename}:{rowUid}</f:variable>

	<f:render partial="Module/Header" arguments="{
		title: '{f:translate(key: \'exportTableRow.headlineExport\')}: {label}',
		subtitle: rowSubtitle
	}" />

	<f:if condition="{rowType}">
		<p class="hd-translator-header-context">
			<core:icon identifier="actions-info" size="small" />
			<f:translate key="exportTableRow.recordType" />: <strong>{rowType}</strong><f:if condition="{rowTypeCouldBe} && {rowType} != {rowTypeCouldBe}">, <f:translate key="exportTableRow.couldBe" /> <strong>{rowTypeCouldBe}</strong></f:if>
		</p>
	</f:if>

	<f:if condition="{fields}">
		<f:then>
			<f:form action="exportTableRowExport" arguments="{tablename: tablename, rowUid: rowUid}">
				<f:if condition="{pageUid}"><f:form.hidden name="id" value="{pageUid}" /></f:if>

				<div class="hd-translator-fieldset">
					<div class="hd-translator-fieldset-legend"><f:translate key="form.group.languages" /></div>
					<div class="hd-translator-form-grid">
						<div class="col-12 col-md-4 col-xl-3">
							<label class="form-label" for="sourceLanguageUid"><f:translate key="form.sourceSystemLanguage" /></label>
							<f:form.select name="sourceLanguageUid" id="sourceLanguageUid" class="form-select" value="0">
								<f:for each="{allowedLanguages}" as="lang">
									<f:form.select.option value="{lang.uid}">{lang.title}</f:form.select.option>
								</f:for>
							</f:form.select>
						</div>

						<f:render partial="Module/LanguageCodeField" arguments="{
							name: 'source', id: 'source', selectName: 'source-temp',
							label: '{f:translate(key: \'form.sourceLanguageCode\')}', value: 'en', languages: languages
						}" />

						<f:render partial="Module/LanguageCodeField" arguments="{
							name: 'language', id: 'target', selectName: 'target-temp',
							label: '{f:translate(key: \'form.targetLanguageCode\')}', value: 'en', languages: languages
						}" />

						<div class="col-12 col-md-4 col-xl-3">
							<label class="form-label" for="targetLanguageUid"><f:translate key="export.existingTranslation" /></label>
							<f:form.select name="targetLanguageUid" id="targetLanguageUid" class="form-select" value="">
								<f:form.select.option value=""><f:translate key="export.existingTranslation.none" /></f:form.select.option>
								<f:for each="{allowedLanguages}" as="lang">
									<f:form.select.option value="{lang.uid}">{lang.title}</f:form.select.option>
								</f:for>
							</f:form.select>
						</div>
					</div>
				</div>

				<button class="btn btn-primary">
					<core:icon identifier="actions-download" size="small" />
					<f:translate key="form.export" />
				</button>
			</f:form>

			<h2 class="mt-4"><f:translate key="exportTableRow.headlinePreviewValues" /></h2>
			<div class="table-fit">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th><f:translate key="exportTableRow.table.label" /></th>
							<th><f:translate key="exportTableRow.table.value" /></th>
							<th><f:translate key="exportTableRow.table.key" /></th>
						</tr>
					</thead>
					<tbody>
						<f:for each="{fields}" as="value" key="key">
							<tr>
								<td class="hd-translator-nowrap"><strong>{value.label}</strong></td>
								<td dir="auto">{value.value}</td>
								<td><code class="hd-translator-key">{key}</code></td>
							</tr>
						</f:for>
					</tbody>
				</table>
			</div>
		</f:then>
		<f:else>
			<f:render partial="Module/Callout" arguments="{
				state: 'warning',
				icon: 'actions-exclamation-triangle',
				title: '{f:translate(key: \'exportTableRow.nothingToExport\')}',
				message: '{f:translate(key: \'exportTableRow.nothingToExport.checkYourTcaSettings\')}'
			}" />
		</f:else>
	</f:if>
</div>
</f:section>
</html>
