<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
        xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
        xmlns:translator="http://typo3.org/ns/Hyperdigital/HdTranslator/ViewHelpers"
        data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="headline">
</f:section>

<f:section name="content">
    <div class="hd-translator">
        <f:if condition="{data}">
            <f:if condition="{pageData}">
                <h2>Translate for page <b>{pageData.title}</b> and subpages</h2>
            </f:if>
            <table class="hd-translator-list-table">
                <f:for each="{data}" key="index" as="file">
                    <tr>
                        <td class="hd-translator-list-table-label">{file.label}</td>
                        <td class="hd-translator-list-table-flags">
                            <f:if condition="{file.availableLanguages}">
                                <div class="hd-translator-list-flags-wrap">
                                    <f:for each="{file.availableLanguages}"  as="lang" key="langShort">
                                        <f:link.action action="detail" arguments="{keyTranslation: index, languageTranslation: langShort}">
                                            <f:image title="{lang}" src="{translator:getFlagName(language: langShort)}" height="36" class="hd-translator-flag" />
                                        </f:link.action>
                                    </f:for>
                                </div>
                            </f:if>
                        </td>
                        <td  class="hd-translator-list-table-tools">
                            <f:if condition="{file.languages}">
                                <div class="popup-action">
                                    <button>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" stroke="currentColor"  viewBox="0 0 24 24" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
                                    </svg>
                                        <f:translate key="list.add_new" />
                                    </button>
                                    <div class="popup-content hidden">
                                        <f:for each="{file.languages}" as="lang">
                                            <div class="hd-translator-list-languageitem">
                                                <f:image title="{lang}" src="{translator:getFlagName(language: lang)}" height="24" class="hd-translator-flag" />
                                                <f:link.action action="detail" arguments="{keyTranslation: index, languageTranslation: lang}">{languagesArray.{lang}} [{lang -> f:format.case(mode: 'upper')}]</f:link.action>
                                            </div>
                                        </f:for>
                                    </div>
                                </div>
                            </f:if>
                        </td>
                    </tr>
                </f:for>
            </table>
        </f:if>
    </div>
    <script>
        let popups = document.querySelectorAll('.popup-action');
        if (popups){
            popups.forEach(function(element){
                element.querySelector('button').addEventListener('click', (event) => {
                    let content = element.querySelector('.popup-content');
                    if (content.classList.contains('hidden')) {
                        content.classList.remove('hidden')
                    } else {
                        content.classList.add('hidden');
                    }
                })
            })
        }
    </script>
</f:section>
</html>