<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
        xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
        xmlns:translator="http://typo3.org/ns/Hyperdigital/HdTranslator/ViewHelpers"
        data-namespace-typo3-fluid="true">

<f:layout name="Module" />

<f:section name="Content">
    <f:asset.script identifier="hd_translator_list" src="EXT:hd_translator/Resources/Public/JavaScript/ListAction.js" />

    <div class="hd-translator">
			<f:if condition="{category} && {category} != '-'"><h1>{category}</h1></f:if>
        <f:if condition="{data}">
            <f:if condition="{pageData}">
                <h2>Translate for page <b>{pageData.title}</b> and subpages</h2>
            </f:if>
            <div>
                <table class="table table-hover">
                    <tbody>
                        <f:for each="{data}" key="index" as="file">
                            <tr>
                                <td class="hd-translator-list-table-label" width="50"><b>{file.label}</b></td>
                                <td class="hd-translator-list-table-flags">
                                    <f:if condition="{file.availableLanguages}">
                                        <div class="hd-translator-list-flags-wrap">
                                            <f:for each="{file.availableLanguages}"  as="lang" key="langShort">
                                                <f:link.action action="detail" class="btn btn-default" arguments="{keyTranslation: index, languageTranslation: langShort}">
                                                    <f:image title="{lang}" src="{translator:getFlagName(language: langShort)}" height="36" class="hd-translator-flag" />
                                                    {lang}
                                                </f:link.action>
                                            </f:for>
                                        </div>
                                    </f:if>
                                </td>
                                <td  class="hd-translator-list-table-tools">
                                    <f:if condition="{file.languages}">
                                        <div class="popup-action">
                                            <button class="btn btn-default">
                                                <core:icon identifier="actions-plus" size="small" />
                                                <f:translate key="list.add_new" />
                                            </button>
                                            <div class="popup-content hidden">
                                                <f:for each="{file.languages}" as="lang">
                                                    <div class="hd-translator-list-languageitem">
                                                        <f:image title="{lang}" src="{translator:getFlagName(language: lang)}" loading="lazy" height="24" class="hd-translator-flag" />
                                                        <f:link.action action="detail" arguments="{keyTranslation: index, languageTranslation: lang}">{languagesArray.{lang}} [{lang -> f:format.case(mode: 'upper')}]</f:link.action>
                                                    </div>
                                                </f:for>
                                            </div>
                                        </div>
                                    </f:if>
                                </td>
                            </tr>
                        </f:for>
                    </tbody>
                </table>
            </div>
        </f:if>
    </div>
</f:section>
</html>
