<html
		xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
		xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
		xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
		data-namespace-typo3-fluid="true">
<f:layout name="Module" />

<f:section name="Content">
<f:asset.script identifier="hd_translator_language_quickselect" src="EXT:hd_translator/Resources/Public/JavaScript/LanguageQuickSelect.js" />

<div class="hd-translator">
	<f:render partial="Module/Header" arguments="{
		title: '{f:translate(key: \'contentExport.headline\')}',
		pageData: pageData
	}" />

	<f:form action="pageContentExportProccess">
		<f:if condition="{pageUid}"><f:form.hidden name="id" value="{pageUid}" /></f:if>

		<div class="hd-translator-fieldset">
			<div class="hd-translator-fieldset-legend"><f:translate key="form.group.languages" /></div>
			<div class="hd-translator-form-grid">
				<div class="col-12 col-md-4 col-xl-3">
					<label class="form-label" for="source"><f:translate key="form.sourceSystemLanguage" /></label>
					<f:form.select name="source" id="source" class="form-select" value="{currentLanguageUid}">
						<f:for each="{allowedLanguages}" as="lang">
							<f:form.select.option value="{lang.uid}">{lang.title}</f:form.select.option>
						</f:for>
					</f:form.select>
				</div>

				<f:render partial="Module/LanguageCodeField" arguments="{
					name: 'source-language', id: 'source-language', selectName: 'source-temp',
					label: '{f:translate(key: \'form.sourceLanguageCode\')}', value: 'en', languages: languages
				}" />

				<f:render partial="Module/LanguageCodeField" arguments="{
					name: 'language', id: 'target', selectName: 'target-temp',
					label: '{f:translate(key: \'form.targetLanguageCode\')}', value: 'en', languages: languages
				}" />

				<div class="col-12 col-md-4 col-xl-3">
					<label class="form-label" for="targetLanguageUid"><f:translate key="export.existingTranslation" /></label>
					<f:form.select name="targetLanguageUid" id="targetLanguageUid" class="form-select" value="">
						<f:form.select.option value=""><f:translate key="export.existingTranslation.none" /></f:form.select.option>
						<f:for each="{allowedLanguages}" as="lang">
							<f:form.select.option value="{lang.uid}">{lang.title}</f:form.select.option>
						</f:for>
					</f:form.select>
				</div>
				<f:render partial="Module/XlfVersionField" />
			</div>
		</div>

		<div class="hd-translator-fieldset">
			<div class="hd-translator-fieldset-legend"><f:translate key="form.group.scope" /></div>
			<div class="hd-translator-form-grid">
				<div class="col-12 col-md-4 col-xl-3">
					<label class="form-label" for="storages"><f:translate key="form.pageUids" /></label>
					<f:form.textfield id="storages" name="storages" value="{currentPage}" required="1" class="form-control" />
					<div class="form-text"><f:translate key="form.pageUids.description" /></div>
				</div>

				<div class="col-12 col-md-6">
					<div class="form-check form-switch">
						<f:form.checkbox name="subpages" class="form-check-input" id="subpages-checkbox" value="1" />
						<label class="form-check-label" for="subpages-checkbox"><f:translate key="form.includeSubpages" /></label>
					</div>
					<div class="form-check form-switch mt-2">
						<f:form.checkbox name="ignoreExport" class="form-check-input" id="ignore-export-checkbox" value="1" />
						<label class="form-check-label" for="ignore-export-checkbox"><f:translate key="form.ignoreExportFields" /></label>
					</div>
					<div class="form-text"><f:translate key="form.ignoreExportFields.description" /></div>
				</div>
			</div>
		</div>

		<button class="btn btn-primary">
			<core:icon identifier="actions-download" size="small" />
			<f:translate key="form.export" />
		</button>
	</f:form>
</div>
</f:section>
</html>
