<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="col-12 col-md-4 col-xl-3">
	<label class="form-label" for="xlfVersion"><f:translate key="form.xlfVersion" /></label>
	<f:form.select name="xlfVersion" id="xlfVersion" class="form-select" value="1.2">
		<f:form.select.option value="1.2">XLIFF 1.2</f:form.select.option>
		<f:form.select.option value="2.0">XLIFF 2.0</f:form.select.option>
	</f:form.select>
	<div class="form-text"><f:translate key="form.xlfVersion.description" /></div>
</div>
</html>
