:root {
    --hdtranslator-font-size: 14px;
    --hdtranslator-gap-size: 32px;
    --hdtranslator-main-color: #787575;
    --hdtranslator-dark-color: #333333;
}
.hd-translator *{
    color: var(--hdtranslator-main-color);
}
.hd-translator button{
    background: transparent;
    border: none;
    color: var(--hdtranslator-dark-color);
    font-weight: 600;
}
.hd-translator button svg{
    height: 1rem;
    width: auto;
}
.hd-translator button *{
    color: var(--hdtranslator-dark-color);
}
.popup-action{
    position: relative;
}
.popup-content{
    position: absolute;
    padding: 10px;
    width: 100%;
    border: 1px solid var(--hdtranslator-dark-color);
    background-color: white;
    font-size: 1.15rem;
    font-weight: 600;
    z-index: 2;
    max-height: 400px;
    overflow-y: auto;
}
.popup-content.hidden{
    display: none;
}
.hd-translator-detail-grid{
    display: grid;
    grid-gap: calc(0.5 * var(--hdtranslator-gap-size)) var(--hdtranslator-gap-size);
    grid-template-columns: repeat(1, minmax(0, 1fr));
    font-size: var(--hdtranslator-font-size);
}
.hd-translator-list-table{
}
.hd-translator-list-table td{
    vertical-align: top;
}
.hd-translator-list-table .hd-translator-list-table-label{
}
.hd-translator-list-table .hd-translator-list-table-flags{
}
.hd-translator-list-table .hd-translator-list-table-tools{
    min-width: 400px;
}
.hd-translator-list-flags-wrap{
    display: flex;
    margin-right: calc(-0.5 * var(--hdtranslator-gap-size))
}
.hd-translator-list-flags-wrap a{
    margin-right: calc(0.5 * var(--hdtranslator-gap-size));
}
@media only screen and (min-width: 900px) {
    .hd-translator-detail-grid{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media only screen and (min-width: 1250px) {
    .hd-translator-detail-grid{
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
@media only screen and (min-width: 1440px) {
    .hd-translator-detail-grid{
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}
.hd-translator .toolbar-section{
    display: flex;
    justify-content: space-between;
}
.hd-translator-key{
    font-size: 0.95em;
}
.hd-translator-field{
    margin: calc(0.5 * 0.75em) 0px;
}
.hd-translator-original{
    font-size: 0.75em;
    font-weight: 800;
}
.hd-translator-field input{
    width: 100%;
    padding: calc(var(--hdtranslator-font-size) * 0.5);
}
.hd-translator .download-links a:hover{
    text-decoration: none;
}
.hd-translator .toolbar-button-section{
    display: flex;
}
.hd-translator-flag{
    height: 2em;
    margin-top: -0.5em;
    width: auto;
}